body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


.buttonContainer button {
    margin-right: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.buttonContainer button:hover {
    background-color: #0056b3;
}

.adminSection {
    display: none;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.adminSection h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 20px;
}

#manageUsers table,
#managePendingJobs table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #007bff;
}

#manageUsers th,
#manageUsers td,
#managePendingJobs th,
#managePendingJobs td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 16px;
}

#manageUsers th,
#managePendingJobs th {
    background-color: #f4f4f4;
    color: #333;
}

#manageUsers td,
#managePendingJobs td {
    background-color: #f9f9f9;
}

#manageUsers tr:hover td,
#managePendingJobs tr:hover td {
    background-color: #e1f1ff;
}

.button {
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
}

.button:hover {
    background-color: #0056b3;
}

.button-ban {
    background-color: #007bff;
}

.button-ban:hover {
    background-color: #0056b3;
}

#managePendingJobs {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {

    #manageUsers table th,
    #manageUsers table td,
    #managePendingJobs table th,
    #managePendingJobs table td {
        font-size: 14px;
    }

    .adminSection {
        padding: 15px;
    }

    .buttonContainer button {
        width: 100%;
        margin-bottom: 10px;
    }
}


#contractorInformation {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.contractorInformation {
    max-height: 400px;
    overflow-y: auto;
}

.contractor-card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contractor-card h3 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
}

.contractor-card p {
    margin: 5px 0;
    font-size: 16px;
}

.contractor-card .not-available {
    color: #f00;
    font-style: italic;
}